{% extends 'base.html.twig' %}

{% block title %}Portfolio Florian Duchesne{% endblock %}

{% block body %}

<header>
  <a><h1>Florian Duchesne</h1></a>
  <nav>
    <i class="fa fa-solid fa-bars"></i>
    <ul>
      <li><a href="#apropos">A propos</a></li>
      <li><a href="#parcours">Parcours</a></li>
      <li><a href="#projets">Projets</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="{{asset('/files/' ~ cv.fichier )}}">CV</a></li>
    </ul>
  </nav>
</header>
<section id="apropos">
  <h2>A propos</h2>
  <div id="apropos_bloc">
    <div id="apropos_contenu">
      {{ about.contenu|raw }}
    </div>
    <img src="{{asset('/files/' ~ about.aboutPicture)}}" alt="portrait de Florian Duchesne">
  </div>
</section>
<section id="parcours">
<h2>Parcours</h2>
<h3>Formations</h3>
<div>
{% for formation in formations %}
  <p>{{formation.intitule}} <em> - {{formation.lieu}} - {{formation.annee}}</em></p>
{% endfor %}
</div>
<h3>Expériences professionnelles</h3>
<div>
{% for exp in experiences %}
  <p>{{exp.intitule}} <em> - {{exp.lieu}} - {{exp.naturePoste}} - {{exp.annee}}</em></p>
{% endfor %}
</div>
<h3>Compétences</h3>
<div>
<p id="competences">
{% for comp in competences %}
  <span>{{comp}}</span>
{% endfor %}
</p>
</div>
</section>
<section id="projets">
  <h2>Projets</h2>
  <div>
    {% for projet in projets %}
      <a href="">
        <figure>
          <img src="{{asset('/files/' ~ projet.pictures[0])}}" alt="{{projet.intitule}}">
          <figcaption><h3>{{projet.intitule}}</h3></figcaption>
        </figure>
      </a>
    {% endfor %}
  </div>
</section>
<section id="contact">
  <h2>Contact</h2>
  <div>
    <div>
      <p>retrouvez-moi sur Github :</p>
      <a href=""><img src="{{asset('/logos/GitHub-Mark-120px-plus.png')}}" alt="logo github"></a>
    </div>
    <div>
      <p> ou sur LinkedIn :</p>
      <a href=""><img src="{{asset('/logos/LI-In-Bug.png')}}" alt="logo linkedIn"></a>
    </div>
  </div>
  <p>ou retrouvez-moi comme ça :</p>
  			<form id="contact-form">
				<div class="field">
					<input type="text" name="from_name" placeholder="votre nom" id="from_name">
				</div>
        <div class="field">
					<input type="text" name="user_email" placeholder="votre email" id="user_email">
				</div>
				<div class="field">
					<textarea type="text" name="message" id="message">votre message</textarea>
				</div>
        <div class="g-recaptcha" data-sitekey="6Ld33vkhAAAAAH50aoNV0qy3KmXlDf76IS6ln2ss"></div>
				<input type="submit" id="button" value="Send Email">
			</form>
</section>
<section id="cv">
  <p>Téléchargez mon CV :</p>
  <a href="{{asset('/files/' ~ cv.fichier )}}"><i class="fa fa-arrow-circle-down"></i></a>
  <p>A bientôt ! : )</p>
</section>
<footer>
<small>&#169; Florian Duchesne 2022</small>
</footer>
{% endblock %}